<div class="d-flex justify-content-center align-items-center min-height-100 h-100 main-body">
  <div class="auth-container">
    <div class="card card-body m-3 p-5">
      <h3 class="fw-100 text-success mb-4">Creér votre compte</h3>
      <form [formGroup]="form" >
        <fieldset class="form-group">
          <input type="text" class="form-control" placeholder="Choose a username" [formControl]="form.controls['uname']"
            [ngClass]="{'is-invalid': form.controls['uname'].hasError('required') && form.controls['uname'].touched}" #emailSignup/>
          <div class="invalid-feedback" *ngIf="form.controls['uname'].hasError('required') && form.controls['uname'].touched">Username
            is required.</div>
        </fieldset>
        <fieldset class="form-group">
          <input type="password" class="form-control" placeholder="Password" [formControl]="form.controls['password']"
            [ngClass]="{'is-invalid': form.controls['password'].hasError('required') && form.controls['password'].touched}" #passwordSignup />
          <div class="invalid-feedback" *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched">Password
            is required.</div>
        </fieldset>
        <fieldset class="form-group">
          <input type="password" class="form-control" placeholder="Confirm password" [formControl]="form.controls['confirmPassword']"
            [ngClass]="{'is-invalid': form.controls['confirmPassword'].hasError('required') && form.controls['confirmPassword'].touched}" #repeatPasswordSignup />
          <div class="invalid-feedback" *ngIf="form.controls['confirmPassword'].hasError('required') && form.controls['confirmPassword'].touched">Confirm
            your password.</div>
            <label class="error" style="color:red;">{{errorMessage}}</label>
            <label class="success" style="color:green;">{{successMessage}}</label>
        </fieldset>
        <div class="d-flex justify-content-center mt-4 mb-4">
          <button class="btn btn-primary" type="submit" (click)="onSignUp(emailSignup.value,passwordSignup.value,repeatPasswordSignup.value)"  >Créer un compte</button>
        </div>
        <div class="text-center">
          <p>déjà inscrit? <a [routerLink]="['/signin']">Se connecter!</a></p>
        </div>

      </form>
    </div>
  </div>
  <div class="bg-cover"></div>
</div>
