<div class="d-flex flex-column-fluid flex-center mt-30 mt-lg-0 main-body">
    <div class="auth-container">
    <div class="card card-body m-3 p-5">
      <h3 class="fw-100 text-success mb-4">Connexion</h3>
      <form [formGroup]="form"  >
        <fieldset class="form-group mb-4" [ngClass]="{'has-danger': form.controls['uname'].hasError('required') && form.controls['uname'].touched}">
          <input type="text" class="form-control" placeholder="username" [formControl]="form.controls['uname']"
            [ngClass]="{'form-control-danger': form.controls['uname'].hasError('required') && form.controls['uname'].touched}" #email/>
          <div class="invalid-feedback" *ngIf="form.controls['uname'].hasError('required') && form.controls['uname'].touched">Username
            is required.</div>
        </fieldset>
        <fieldset class="form-group mb-4" [ngClass]="{'has-danger': form.controls['password'].hasError('required') && form.controls['password'].touched}">
          <input type="password" class="form-control" placeholder="********" [formControl]="form.controls['password']"
            [ngClass]="{'form-control-danger': form.controls['password'].hasError('required') && form.controls['password'].touched}" #password />
          <div class="invalid-feedback" *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched">Password
            is required.</div>
             <label class="error" style="color:red;">{{errorMessage}}</label>
             <label class="success" style="color:green;">{{successMessage}}</label>
        </fieldset>
        <div class="d-flex w-100 align-items-center">
          <div class="col">
            <label class="custom-control custom-checkbox mb-0">
              <input type="checkbox" class="custom-control-input">
              <span class="custom-control-label"></span>
              <span class="custom-control-description">Rester connecté</span>
            </label>
          </div>
        </div>
        <div class="d-flex justify-content-center mt-4 mb-4">
          <button class="btn btn-primary" type="submit" (click)="onSignIn(email.value,password.value)" >Se connecter</button>
        </div>
        <div class="text-center">
          <p>Pas encore inscrit? <a [routerLink]="['/signup']">Créer un nouveau compte!</a></p>
        </div>
      </form>
    </div>
  </div>
  <div class="bg-cover"></div>
</div>
