input.form-control {
  border-radius: 90px;
  padding: 1rem 1.5rem;
}

.btn {
  border-radius: 90px;
  padding: 1rem 1.5rem;
  min-width: 120px;
}
.main-body{
  background-image: url('https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
  background-size: cover;
  background-repeat: none;
  height:700px;  
}
